################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cs
*.cache
*.lock
*.ide-shm
*.ide-wal
*.ide
*.suo
